<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980399647437-jhso66hlqvel64nt6dumaepd6rvrr6mm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980399647437-jhso66hlqvel64nt6dumaepd6rvrr6mm</string>
	<key>API_KEY</key>
	<string>AIzaSyCUYiqHUp1OkjFz5cqr2A-R0xD_9uFyGyM</string>
	<key>GCM_SENDER_ID</key>
	<string>980399647437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.companionApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>emt69-13bb4</string>
	<key>STORAGE_BUCKET</key>
	<string>emt69-13bb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980399647437:ios:9b5c136abe9bdfb30b5784</string>
</dict>
</plist>